@model RejestrSzkolen.Models.Kurs

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy jesteś pewie aby usunać kurs?</h3>

<div class="alert alert-warning">
    <h4>Kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Jednostka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jednostka.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punkty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punkty)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="alert alert-danger">
            <h4 class="danger">Wszystkie zapisy na kurs zostaną  także usunięte</h4>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
