@model IEnumerable<RejestrSzkolen.Models.Kurs>

@{
    ViewBag.Title = "Index";
}

<h2>Szkolenia</h2>
<div class="alert alert-warning">
    <p>
        @Html.ActionLink("Nowe szkolenie", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KursID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punkty)
            </th>
            <th>
                Jednostka
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KursID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Punkty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jednostka.Nazwa)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.KursID }) |
                    @*@Html.ActionLink("Szczegóły", "Details", new { id = item.KursID }) |*@
                    @Html.ActionLink("Usuń", "Delete", new { id = item.KursID })
                </td>
            </tr>
        }

    </table>
</div>