@model RejestrSzkolen.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Zapisy studenta</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRejestracji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRejestracji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       
    </dl>
    <div class="alert alert-success">

        @Html.DisplayNameFor(model => model.Zapisy)

        <a href='@Url.Action("Index","Zapis", new { ID= Model.ID })' class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign"></span>

        </a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Zapisy.FirstOrDefault().Kurs.Tytul)</th>
                    <th>@Html.DisplayNameFor(model => model.Zapisy.FirstOrDefault().Ocena)</th>
                </tr>
            </thead>
            @foreach (var item in Model.Zapisy)
            {
                <tr>

                    <td>
                        <a href='@Url.Action("Delete", "Zapis", new { ID= item.ZapisID })' class="btn btn-default">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </a>
                        @Html.DisplayFor(modelItem => item.Kurs.Tytul)
                    </td>
                    <td>
                        <a href='@Url.Action("Edit", "Zapis", new { ID= item.ZapisID })' class="btn btn-default">
                            <span class="glyphicon glyphicon-check"></span>
                        </a>
                        @Html.DisplayFor(modelItem => item.Ocena)
                    </td>
                    
                </tr>
            }
        </table>

    </div>

</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
